.body_mobile {
    max-width: 500px;
}

p {
    font-size: clamp(20px, 15vw, 50px);
    margin: 0;
    font-weight: 600;
    color: rgb(195, 118, 18);
}

.flex {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.flex_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.reset {
    align-items: unset !important;
    justify-content: unset !important;
}

/* managerbran10@gmail.com style */
.mb-realtive {
    position: relative;
}

.mb-space {
    padding: 4px 0;
  }

.mb-p-head > p {
    font-size: clamp(15px, 5vw, 35px);
    margin: 0;
    color: #2B384C;
    font-weight: bold;
}

.mb-p > p {
    font-weight: 300;
    font-size: clamp(8px, 5vw, 16px);
    text-align: left;
    color: #000;
}

.mb-item-start {
    align-items: flex-start !important;
}

.mb-auto {
    margin: 0 auto;
}

.mb10 {
    width: 100% !important;
}

.mb9 {
    width: 90% !important;
  }
  
  .mb8 {
    width: 80% !important;
  }

  .mb85 {
    width: 85% !important;
  }
  
  .mb7 {
    width: 70% !important;
  }
  
  .mb6 {
    width: 60% !important;
  }
  
  .mb5 {
    width: 50% !important;
  }
  
  .mb4 {
    width: 40% !important;
  }
  
  .mb45 {
    width: 45% !important;
  }
  
  .mb35 {
    width: 35% !important;
  }
  
  .mb3 {
    width: 30% !important;
  }
  
  .mb2 {
    width: 20% !important;
  }

  .mb15 {
    width: 15% !important;
  }

  .mb-tp5 {
    margin-top: 5%;
  }

.flex_col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    background-color: rgb(0 133 202);
    padding: 4%;
}

.content > p:nth-child(2) {
    font-weight: 700;
    font-size: clamp(10px, 15vw, 70px);
    opacity: unset;
}

img {
    object-fit: cover;
    width: 100%;
}

/* Banner css */
.paragraph {
    width: 50%;
    gap: 30px;
}

.paragraph > p:first-child {
    font-size: 50px;
    color: blue;
    text-align: center;
}

.paragraph > p:last-child {
    font-size: clamp(8px, 5vw, 18px);
    font-weight: 300;
    color: rgb(80, 77, 77);
    text-align: center;
    width: 60%;
}

.headers_content {
    padding-bottom: 30px;
}

.headers_content > p {
    font-size: clamp(15px, 5vw, 45px);
    margin: 0;
    color: rgb(15, 148, 209);
    font-weight: bold;
}

.body_content {
    justify-content: space-between;
}

.body_content > p {
    font-size: clamp(8px, 5vw, 16px);
    color: black;
    font-weight: 300;
}

.middle_button {
    margin-top: 80px;
    gap: 30px;
    justify-content: center;
}

.active {
    background-color: rgb(15, 148, 209);
    border-radius: 25px;
    padding: 8px 20px;
}

.middle_but > p {
    font-weight: 300;
    font-size: clamp(8px, 5vw, 16px);
    text-align: center;
    color: #000;
}

.active > p {
    color: #fff;
}

/* Actions */
.shadows {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.action_content > p {
    padding: 10px 0;
}

.action_content > p:first-child {
    font-weight: 600;
    width: 40%;
    font-size: clamp(12px, 15vw, 26px);
    text-align: left;
    color: #000;
}

.action_content > p:last-child  {
    font-weight: 300;
    width: 40%;
    font-size: clamp(8px, 5vw, 16px);
    text-align: left;
    color: #000;
}

.donation_form_wrapper {
    padding: 30px;
}

.donation_form_wrapper > p {
    font-weight: 600;
    font-size: clamp(8px, 5vw, 16px);
    text-align: left;
    color: #000;
}

.action_form_wrapper {
    background-color: #fff;
    border-radius: 5px;
    padding: 80px 20px;
    justify-content: space-around;
}

.org_con_col {
    height: 35px;
    justify-content: space-between;
    align-items: unset;
}

.org_con_col > p {
    font-size: clamp(6px, 5vw, 12px);
    text-align: left;
    color: #000;
}

.org_con_col > p:last-child {
    font-weight: 300;
    font-size: clamp(5px, 5vw, 11px);
    color: rgb(117, 115, 115);
}

.org_avatar > img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
}

.report_campaign {
    border: 1px solid #e5e1e1db;
    justify-content: space-around;
    margin: 0 auto;
    padding: 12px;
    margin-top: 20px;
}

.report_campaign > p {
    font-size: clamp(6px, 5vw, 12px);
    text-align: left;
    color: rgb(103, 100, 100);
}

.support_showcase {
    gap: 5px;
    margin: 0 auto;
}

.support_showcase > img {
    width: 15%;
    height: 35px;
    object-fit: contain;
}

/* Landing Title */

.landing_title {
    height: 25vh;
    width: 100vw;
    background-color: #E1F7FE;
}

.landing_title > p {
    font-weight: 700;
    color: rgb(15, 148, 209);
    font-size: clamp(12px, 15vw, 26px);
}

.inner_content {
    margin: 0 auto;
}

.inner_content > p {
    font-size: clamp(6px, 5vw, 19px);
    font-weight: 400;
    text-align: left;
    color: #000;
}

/* marketing */
.donor_note {
    margin: 0 auto;
    margin-bottom: 80px;
}

.divider {
    padding: 20px 0;
}

.donor_con {
    align-items: flex-start !important;
}

.donor_con > img {
    width: clamp(100px, 30vw, 550px);
    height: clamp(100px, 30vw, 300px);
    border-radius: 10px;
    object-fit: cover;
}

.mb-realtive {
    z-index: 0;
}

.image_position:first-child {
    position: absolute;
}

.image_position:nth-child(2) > img {
    height: 450px;
}

.showcase-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.back-showcase {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image_position > img {
    object-fit: cover;
}

.donor_con > p:first-child {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 35px);
    text-align: left;
    color: rgb(0, 0, 0);
}

.donor_con > p:nth-child(2)  {
    font-size: clamp(8px, 5vw, 16px);
    color: rgb(148, 148, 148);
    font-weight: 300;
}

.donor_pay {
    justify-content: flex-start;
    align-self: start;
}

.donor_pay_row {
    justify-content: flex-start;
    align-self: start;
    gap: 20px;
    margin-top: 10px;
}

.donor_pay_row > p {
    font-size: clamp(6px, 5vw, 12px);
    font-weight: bold;
    text-align: left;
    color: rgb(54, 33, 101);
}

.donor_pay_row > img {
    width: 24px;
    height: 24px;
}

.right_camp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end !important;
    align-items: flex-end !important;
}

.donor_con_right > p:first-child {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 35px);
    text-align: left;
    color: rgb(0, 0, 0);
}

.donor_con_right > p:nth-child(2)  {
    font-size: clamp(8px, 5vw, 16px);
    color: rgb(148, 148, 148);
    font-weight: 300;
}

.reposition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reposition > img {
    width: 250px;
    border-radius: 5px;
}

.reposition:nth-child(1) > img {
    height: 430px;
}

.reposition:nth-child(2) {
    justify-content: center;
}

.guard_background {
    background-color: #F2FCFF;
    padding: 60px 0;
}

.guard {
    background-color: rgba(0, 102, 150, 0.13);
    padding: 60px;
    border-radius: 300px;
}

.guard > img {
    height: clamp(150px, 30vw, 220px);
    width: clamp(150px, 30vw, 220px);
    object-fit: cover;
}

/* PRICE CARD */
.pring_card_row {
    gap: 20px;
}

.price_card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.active_card {
    background-color: #0396C2;
    padding: 45px 20px;
}

.price_title {
    padding: 30px 0;
    border-bottom: 1px solid rgb(223, 219, 219);
}

.price_percent {
    padding: 40px 0;
    border-bottom: 1px solid rgb(223, 219, 219);
}

.price_title > p {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 22px);
    color: #0396C2;
}

.price_percent > p {
    font-weight: 600;
    font-size: clamp(15px, 5vw, 35px);
    color: rgb(0, 0, 0);
}

.price_option {
    gap: 15px;
    padding: 15px 0;
    justify-content: flex-start !important;
}

.price_option > p {
    font-size: clamp(6px, 5vw, 11px);
    font-weight: bold;
    text-align: left;
    color: #0396C2;
  }
  
  .price_option > img {
    width: 20px;
    height: 20px;
  }

  .active_p > p {
    color: #fff !important;
}

/* CHARGE CARD */
.price_calculator {
    background-color: #fff;
    width: 20%;
    padding: 20px;
}

.price_header > p {
    font-size: clamp(6px, 5vw, 12px);
    font-weight: bold;
    text-align: left;
    color: rgb(54, 33, 101);
}

.charge_title {
    padding: 15px 0;
}

.charge_title > p {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 22px);
    color: #0396C2;
}

.charge_res_wrap > p {
    font-size: clamp(6px, 5vw, 12px);
    font-weight: bold;
    text-align: left;
    color: rgb(54, 33, 101);
}

.charge_result {
    background-color: #E1F7FE;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between !important;
}

.charge_res_wrap:nth-child(2) {
    align-items: flex-end;
}

.charge_res_wrap > p:last-child {
    font-weight: bold;
    font-size: clamp(15px, 5vw, 22px);
    color: #0396C2;
    font-weight: bold;
}

.reset_border {
    border: unset;
}

/* FAQ */
.pricing_faq {
    background-color: #0396C2;
    padding: 150px 0;
}

.faq_title > P {
    font-weight: bold;
    font-size: clamp(15px, 15vw, 30px);
    color: #fff;
    font-weight: bold;
}

.faq_questions {
    align-items: flex-start !important;
}

.faq_questions > p:first-child {
    font-size: clamp(12px, 15vw, 24px);
    font-weight: bold;
    color: #fff;
}

.faq_questions > p:nth-child(2) {
    font-size: clamp(12px, 15vw, 15px);
    font-weight: 300;
    color: #fff;
}

.pricing_faq_wrapper {
    margin: 0 auto;
}

.story_image > img {
    width: clamp(100px, 30vw, 550px);
    height: clamp(100px, 30vw, 300px);
    border-radius: 10px;
    object-fit: cover;
}

.team_image > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 150px;
}

.doc_box {
    gap: 5%;
    justify-content: start !important;
}

.doc_box_con {
    padding: 25px;
}

.doc_box_con > p:first-child {
    font-weight: bold;
    color: #0396C2;
    margin-bottom: 10px;
}

.mylocation {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
